<% layout='layout' %>
    <% title='Dashboard' %>
        <section class="container">
            <h1>Your Dashboard</h1>
            <p>Welcome, <%= user.displayName %>!</p>
            <p>Email: <%= user.email %>
            </p>
            <a class="btn" href="/api-docs" target="_blank">View API Docs</a>
        </section>