<% layout='layout' %>
    <% title='Dashboard' %>
        <section class="container">
            <h1>Dashboard</h1>
            <p>Welcome back, <%= user.displayName %>!</p>
            <p>Email: <%= user.email %>
            </p>
        </section>